<section class="u-clearfix u-palette-2-light-3 u-section-3" id="sec-d3a8" >
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-image u-layout-cell u-left-cell u-size-40 ">

              <div class="u-container-layout">
                  <img [src]="launch.links.mission_patch" class="image-launch" style="height: 12px;" >
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-white u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h6 class="u-text u-text-1">{{launch.mission_name}}</h6>
                <h2 class="u-text u-text-palette-1-base u-text-2">Rocket: {{launch.rocket.rocket_name}}</h2>
                <p class="">Date: {{launch.launch_date_utc}}</p>
                <p class="">Launch: {{launch.launch_success ? 'Success' : 'Fail'}}</p>
                <h2 class="u-text u-text-palette-1-base u-text-2" >  </h2>

                <div class="u-border-10 u-border-palette-2-base u-line u-line-horizontal u-line-1"></div>
                <p class="u-text u-text-grey-50 u-text-3"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>