
 <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h1>Rocket A🚀</h1>
        <ul class = "list-group">
            <li class="list-group-item">Rocket Type </li>
            <li class="list-group-item">Customer</li>
            <li class="list-group-item">Nationality</li>
            <li class="list-group-item">Date launch</li>
            <li class="list-group-item">Landing Success</li>
            <li class="list-group-item">Landing Vehicle</li>            
        </ul>
    </div>
  </div>
