
 <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h1>{{launch.mission_name}}🚀</h1>
        <button class="btn btn-primary btn-lg" (click)="getOneLaunch(8)"></button>
        <ul class = "list-group">
            <li class="list-group-item">Rocket : {{launch.rocket.rocket_name}} </li>
            <li class="list-group-item">Customer : {{launch.customer}}</li>
            <li class="list-group-item">Nationality</li>
            <li class="list-group-item">Date launch</li>
            <li class="list-group-item">Landing Success</li>
            <li class="list-group-item">Landing Vehicle</li>            
        </ul>
    </div>
  </div>
