<body data-home-page="https://website1529611.nicepage.io/Page-2.html?version=08366364-b64d-4b7c-91a0-e37a44481c52" data-home-page-title="Page 2" class="u-body u-xl-mode"> 
    <section class="u-clearfix u-palette-1-base u-section-1" id="sec-04ad">
      <img src="assets/images/59f86e9a43e6f89908a4f0b948915bef.png" alt="" class="u-expanded-height u-image u-image-default u-image-1" data-image-width="958" data-image-height="471">
      <div class="u-container-style u-expanded-width-xs u-group u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h1 class="u-heading-font u-text u-title u-text-1">SPACEX</h1>
          <h4 class="u-text u-text-2">Space Exploration Technologies Corp. (doing business as SpaceX)</h4>
          <p class="u-text u-text-3">An American aerospace manufacturer, a provider of space transportation services, and a communications corporation headquartered in Hawthorne, California. SpaceX was founded in 2002 by Elon Musk with the goal of reducing space transportation costs to enable the colonization of Mars.</p>
        
        </div>
      </div>
    </section>

   
    <section class="u-clearfix u-palette-2-light-3 u-section-4" id="sec-87bf">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-100 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-white u-layout-cell-1">
                <div class="u-container-layout">
                  <img class="u-expanded-width u-image u-image-1" src="assets/images/f80015ff08c87560760b48a27a7ca3db.jpeg">
                  <p class=""><strong>CAPSULES</strong>  <button routerLink="/capsule-list" class="btn float-end" style="background-color: #0b013c; color: white;">VIEW LIST</button></p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-white u-layout-cell-2">
                <div class="u-container-layout">
                  <img class="u-expanded-width u-image u-image-2" src="assets/images/7b4b6d4daf3fb51cb024e0fe7c8d1987.jpeg">
                  <p class=""><strong>LAUNCHES</strong> <button routerLink="/launch-list"class="btn float-end" style="background-color: #0b013c; color: white;">VIEW LIST</button></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    
    
    
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="" target="_blank">
        <span>Website Builder Software</span>
      </a>. 
    </section>
  </body>